<section class="signup-form">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Your email *"
        formControlName="email"
      >
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Your password *"
        formControlName="password">
      <mat-hint>Has to be at least 6 characters long.</mat-hint>
    </mat-form-field>
    <div mat-dialog-actions align="end">
      <button
        *ngIf="!(isLoading$ | async)"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="signupForm.invalid">Submit
      </button>
    </div>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
